<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.dekz.bk-alfred</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>3D0FA177-5AAE-4F7D-B7C0-DC068CAE2367</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>629779F9-1F2C-4801-8A26-B3EA7FB633DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>471057C1-95AC-4F4B-93AE-749A22D011F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>471057C1-95AC-4F4B-93AE-749A22D011F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>479F7253-DD28-47EE-852C-1ADC1091D43A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4FC6E7CA-5421-4610-8974-6598C6049CC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>471057C1-95AC-4F4B-93AE-749A22D011F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jacob Evans</string>
	<key>description</key>
	<string>Buildkite Workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Buildkite Workflow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>629779F9-1F2C-4801-8A26-B3EA7FB633DA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>bk</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>/usr/local/bin/node main.js "list-projects" "{query}"</string>
				<key>title</key>
				<string>Buildkite</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3D0FA177-5AAE-4F7D-B7C0-DC068CAE2367</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Updated Projects</string>
				<key>title</key>
				<string>Buildkite</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>479F7253-DD28-47EE-852C-1ADC1091D43A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bku</string>
				<key>text</key>
				<string>Buildkite Update</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4FC6E7CA-5421-4610-8974-6598C6049CC4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/node main.js "update-projects"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>471057C1-95AC-4F4B-93AE-749A22D011F1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3D0FA177-5AAE-4F7D-B7C0-DC068CAE2367</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>471057C1-95AC-4F4B-93AE-749A22D011F1</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>479F7253-DD28-47EE-852C-1ADC1091D43A</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>4FC6E7CA-5421-4610-8974-6598C6049CC4</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>629779F9-1F2C-4801-8A26-B3EA7FB633DA</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/dekz/buildkite-alfred</string>
</dict>
</plist>
